<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
	<extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="de.enflexit.ws.core.WebServerApplication">
         </run>
      </application>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="de.enflexit.ws.core.application"
            name="EnFlex.IT -Webserver">
         <property
               name="windowImages"
               value="icons/awb16.png,icons/awb32.png,icons/awb48.png,icons/awb64.png,icons/awb128.png,icons/awb256.png">
         </property>
         <property
               name="aboutImage"
               value="/de.enflexit.ws.core/icons/awb128.png">
         </property>
         <property
               name="startupProgressRect"
               value="5,275,445,15">
         </property>
         <property
               name="appName"
               value="EnFlex.IT -Webserver">
         </property>
         <property
               name="aboutText"
               value="Enflex.IT - Webserver (EnFlexIT-WS) is a Jettty application server that utilizes OSGI.">
         </property>
         <property
               name="preferenceCustomization"
               value="plugin_customization.ini">
         </property>
      </product>
   </extension>

</plugin>
